@mixin col($size, $block_size) {
    display: inline-block;
    width: $size * $block_size;
}

@mixin grid($width, $block_size, $is_visible-sm, $is_visible-md, $is_visible-lg, $is_visible-xl) {
    .row {
        margin: auto;
        width: $width;
        font-size: 0;
    }

    .row * {
        font-size: initial;
    }

    @if not $is_visible-sm {
        @for $i from 1 through 12 {
            .col-sm-#{$i} {
                display: none;
            }
        }
    }

    @if not $is_visible-md {
        @for $i from 1 through 12 {
            .col-md-#{$i} {
                display: none;
            }
        }
    }

    @if not $is_visible-lg {
        @for $i from 1 through 12 {
            .col-lg-#{$i} {
                display: none;
            }
        }
    }

    @if not $is_visible-xl {
        @for $i from 1 through 12 {
            .col-xl-#{$i} {
                display: none;
            }
        }
    }

    @for $i from 1 through 12 {
        .col-#{$i} { @include col($i, $block_size); }
    }

    @if $is_visible-sm {
        @for $i from 1 through 12 {
            .col-sm-#{$i} { @include col($i, $block_size); }
        }
    }

    @if $is_visible-md {
        @for $i from 1 through 12 {
            .col-md-#{$i} { @include col($i, $block_size); }
        }
    }

    @if $is_visible-lg {
        @for $i from 1 through 12 {
            .col-lg-#{$i} { @include col($i, $block_size); }
        }
    }

    @if $is_visible-xl {
        @for $i from 1 through 12 {
            .col-xl-#{$i} { @include col($i, $block_size); }
        }
    }
}

@media (max-width: 575px) {
    @include grid(auto, 8.3%, false, false, false, false);
}

@media (min-width: 576px) and (max-width: 767px) {
    @include grid(560px, 45px, true, false, false, false);
}

@media (min-width: 768px) and (max-width: 991px) {
    @include grid(764px, 62px, true, true, false, false);
}

@media (min-width: 992px) and (max-width: 1199px) {
    @include grid(960px, 80px, true, true, true, false);
}

@media (min-width: 1200px) {
    @include grid(1176px, 98px, true, true, true, true);
}
